{% extends "layout.html" %}
{% block content %}
<h2>Here is the relation between the entities: </h2>
<table style="width:100%">
    <tr>
       <th>Sentences</th>
       <th>Entity One</th>
       <th>Entity Two</th> 
       <th>Relation</th>
    </tr>
    {% for sentence in sentences %}
            <tr>
                <td>{{ sentence.sentence }}</td>
                <td>{{ sentence.entity_1 }}</td>
                <td>{{ sentence.entity_2 }}</td>
                <td>{{ sentence.relation }}</td>
            </tr>
    {% endfor %}
</table>
{% endblock content %}